html {
    background-color: rgba(127, 255, 212, 0.445);
}
h1 {
    color: blueviolet;
}
h2 {
    color: rgba(4, 73, 73, 0.445);
}
p {
    background-color: bisque;
    
}
body {
    padding-left: 50px;
}
